name: Docker Compose Linting

on:
  push:
    branches:
    - master
    - rel-*
    paths:
    - '**/*compose*.yml'
    - '**/*compose*.yaml'
    - '.github/workflows/docker-compose-lint.yml'
    - '.dclintrc.yaml'
  pull_request:
    branches:
    - master
    - rel-*
    paths:
    - '**/*compose*.yml'
    - '**/*compose*.yaml'
    - '.github/workflows/docker-compose-lint.yml'
    - '.dclintrc.yaml'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name == 'pull_request' && github.event.number || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  dclint:
    name: Docker Compose Linting
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    
    - name: Get changed docker compose files
      id: changed-files
      continue-on-error: true
      uses: tj-actions/changed-files@v47
      with:
        files: |
          **/*compose*.yml
          **/*compose*.yaml
        files_ignore: |
          .github/**
          deployment/**
    
    - name: Determine files to check
      id: files-to-check
      run: |
        set -x
        
        if [[ "${{ steps.changed-files.outcome }}" = success && "${{ steps.changed-files.outputs.any_changed }}" = true ]]; then
          echo 'Changed files found, checking only those.'
          echo "mode=files" >> "$GITHUB_OUTPUT"
          echo "files=${{ steps.changed-files.outputs.all_changed_files }}" >> "$GITHUB_OUTPUT"
        else
          echo 'No changed files found, checking all docker compose files in the repo.'
          echo "mode=recursive" >> "$GITHUB_OUTPUT"
        fi
    
    - name: Run dclint on changed files
      if: steps.files-to-check.outputs.mode == 'files'
      run: |
        docker run --rm --volume "$PWD:$PWD" --workdir "$PWD" zavoloklom/dclint:3.1.0 --exclude .github --exclude deployment ${{ steps.files-to-check.outputs.files }}
    
    - name: Run dclint recursively
      if: steps.files-to-check.outputs.mode == 'recursive'
      run: |
        docker run --rm --volume "$PWD:$PWD" --workdir "$PWD" zavoloklom/dclint:3.1.0 --exclude .github --exclude deployment --recursive ci/ docker/